div {
    margin: 10px;
    padding: 10px;
}

.App {
    background-color: lightblue;
}

.navbar {
    background-color: lightcoral;
}   

.listitems {
    background-color: lightgreen;
}

.cartwidget {
    background-color: lightyellow;
}

.item {
    background-color: lightgray;
}